/* Google Fonts - Poppins URL */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");
/* CSS Variables */
:root {
    --primary-color: #ed3849;
    --primary-color-dark: #d23141;
    --primary-color-light: #e5edf4;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --max-width-1400: 1400px;
    --max-width-1200: 1200px;
    --max-width-900: 900px;
    --header-font: "Playfair Display", serif;
}
/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Body Styling */
body {
    font-family: "Poppins", sans-serif;
}
/* Navigation Styling */
nav {
    background-color: #eff0f3;
    margin-bottom: 1rem;
    margin-top: 10px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Links Styling */
    ul {
        flex: 1;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        /* List Items Styling */
        li {
            /* Link Styling */
            a {
                text-decoration: none;
                font-weight: 500;
                color: var(--text-dark);
                /* Hover Effect Styling */
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
    /* Logo Styling */
    .logo {
        /* Link Styling */
        a {
            text-decoration: none;
            font-size: 2rem;
            font-weight: 800;
            font-family: var(--header-font);
            color: var(--text-dark);
            /* Span Styling */
            span {
                color: var(--primary-color);
            }
        }
    }
    /* Icons Styling */
    .icons {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        /* Span Styling */
        span {
            /* Link Styling */
            a {
                text-decoration: none;
                font-size: 1.25rem;
                color: var(--text-dark);
                /* Hover Effect Styling */
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}
/* Header Styling */
header {
    max-width: var(--max-width-1400);
    margin: auto;
    padding: 5rem 1rem;
    min-height: 650px;
    background-color: var(--primary-color-light);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    /* Content */
    .content{
        max-width: 500px;
        margin-left: auto;
        /* Heading Styling */
        h4 {
            font-size: 1rem;
            font-weight: 500;
            color: var(--primary-color);
        }
        /* Heading Styling */
        h1 {
            font-size: 5rem;
            font-weight: 800;
            font-family: var(--header-font);
            color: var(--text-dark);
        }
        /* Description Styling */
        p {
            margin-bottom: 2rem;
            color: var(--text-light);
        }
        /* Button Styling */
        button {
            padding: 0.75rem 1.5rem;
            outline: none;
            border: none;
            font-size: 1rem;
            color: var(--white);
            background-color: var(--primary-color);
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            /* Hover Effect Styling */
            &:hover {
                background-color: var(--primary-color-dark);
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
                box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
            }
        }
    }
    /* Image Styling */
    .image {
        position: relative;
        height: 100%;
        /* Image Styling */
        img {
            position: absolute;
            left: 50%;
            bottom: -5rem;
            transform: translateX(-50%);
            max-width: 500px;
            width: 100%;
            display: flex;
        }
    }
}
/* Categories Container Styling */
.categories-container {
    max-width: var(--max-width-1400);
    margin: auto;
    padding: 5rem 1rem;
    /* Heading */
    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 800;
        font-family: var(--header-font);
        color: var(--primary-color);
        text-align: center;
    }
    /* Description Styling */
    p {
        max-width: 500px;
        margin: auto;
        color: var(--text-light);
        text-align: center;
    }
    /* Grid Styling */
    .grid {
        max-width: var(--max-width-900);
        margin: auto;
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        /* Card Styling */
        .card {
            text-align: center;
            /* Image Styling */
            img {
                max-width: 100px;
                margin: auto;
                margin-bottom: 1rem;
                border: 5px solid var(--white);
                border-radius: 100%;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                width: 100%;
                display: flex;
                /* Hover Effect Styling */
                &:hover {
                    border: 5px solid var(--primary-color);
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                }
            }
            /* Heading Styling */
            h4 {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 800;
                font-family: var(--header-font);
                color: var(--primary-color);
            }
        }
    }
}
/* Hero Container */
.hero-container {
    max-width: var(--max-width-1400);
    margin: auto;
    padding: 5rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* Card Styling */
    .card {
        position: relative;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        /* Hover Effect Styling */
        &:hover {
            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
            transform: scale(1.04);
            transition: all 0.3s ease-in-out;
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-bottom: 1px solid var(--primary-color);
            border-right: 1px solid var(--primary-color);
        } 
        /* Image Styling */
        img {
            border-radius: 5px;
            width: 100%;
            display: flex;
            /* Hover Effect Styling */
            &:hover {
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        }
        /* Content Styling */
        .content {
            position: absolute;
            top: 35%;
            left: 10%;
            transform: translate(-15%, -50%);
            /* Text Styling */
            p {
                font-size: 0.9rem;
                font-weight: 500;
                color: var(--primary-color);
            }
            /* Heading Styling */
            h4 {
                margin-bottom: 1rem;
                font-size: 1.25rem;
                font-weight: 800;
                font-family: var(--header-font);
                color: var(--text-dark);
            }
            /* Link Styling */
            a {
                color: var(--text-dark);
                text-decoration: none;
                /* Hover Effect Styling */
                &:hover {
                    color: var(--primary-color);
                    border-bottom: 2px solid var(--primary-color);
                }
            }
        }
    }
}
/* Products Container Styling */
.product-container {
    max-width: var(--max-width-1400);
    margin: auto;
    padding: 5rem 1rem;
    /* Heading Styling */
    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 800;
        font-family: var(--header-font);
        color: var(--primary-color);
        text-align: center;
    }
    /* Description Styling */
    p {
        max-width: 500px;
        margin: auto;
        color: var(--text-light);
        text-align: center;
    }
    /* Button Styling */
    button {
        text-align: center;
        margin-left: 620px;
        padding: 0.75rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        color: var(--white);
        background-color: var(--primary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        /* Hover Effect Styling */
        &:hover {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
            background-color: var(--primary-color-dark);
        }
    }
    /* Grid Styling */
    .grid {
        max-width: var(--max-width-900);
        margin: 4rem auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        /* Card Styling */
        .card {
            /* Image Styling */
            img {
                border: 1px solid rgb(219, 217, 233);
                border-radius: 5px;
                width: 100%;
                display: flex;
                /* Hover Effect Styling */
                &:hover {
                    transition: all 0.3s ease-in-out;
                    border-left: 1px solid black;
                    border-top: 1px solid black;
                    border-bottom: 1px solid var(--primary-color);
                    border-right: 1px solid var(--primary-color);
                    transform: scaleX(1.05);
                    transition: all 0.3s ease-in-out;
                    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
                }
            }
            /* Content Styling */
            .content {
                text-align: center;
                padding: 1rem;
                /* Rating Styling */
                .rating {
                    margin-bottom: 5px;
                    font-size: 0.8rem;
                    color: goldenrod;
                    /* Span Styling */
                    span {
                        margin-right: 5px;
                        /* Icon Styling */
                        i {
                            font-size: 2rem;
                        }
                    }
                }
                /* Heading Styling */
                h4 {
                    margin-bottom: 5px;
                    font-size: 1.2rem;
                    font-weight: 800;
                    font-family: var(--header-font);
                }
                /* Price Styling */
                p {
                    font-weight: 500;
                    color: var(--text-dark);
                    /* S Tag Styling */
                    s {
                        color: var(--text-light);
                        font-weight: 400;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
/* Footer Styling */
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: auto;
    padding: 5rem 1rem;
    background-color: #0f172a;
    /* Column Styling */
    .column {
        /* Heading Styling */
        h4 {
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
            font-weight: 800;
            font-family: var(--header-font);
            color: var(--primary-color);
        }
        /* Description Styling */
        p {
            margin-bottom: 1rem;
            font-weight: 500;
            color: var(--text-light);
            /* Span Styling */
            span {
                margin-right: 0.5rem;
                font-size: 1.2rem;
                color: var(--primary-color);
            }
        }
        /* Link Styling */
        a {
            display: block;
            margin-bottom: 1rem;
            font-weight: 500;
            color: var(--text-light);
            /* Hover Effect Styling */
            &:hover {
                color: var(--primary-color);
            }
        }
        /* Grid Styling */
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            /* Image Styling */
            img {
                width: 100%;
                border-radius: 5px;
                /* Hover Effect Styling */
                &:hover {
                    transition: all 0.3s ease-in-out;
                    border-left: 1px solid black;
                    border-top: 1px solid black;
                    border-bottom: 1px solid var(--primary-color);
                    border-right: 1px solid var(--primary-color);
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}
/* CopyRight Styling */
.copyright {
    text-align: center;
    padding: 1rem;
    margin-top: 10px;
    background-color: #0f172a;
    color: var(--text-light);
    /* Underline Styling */
    u {
        color: #d23141;
    }
    /* Link Styling */
    a {
        color: var(--white);
        /* Hover Effect Styling */
        &:hover {
            color: var(--primary-color);
        }
    }
}