/* Body Styling */
body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
/* Container Styling */
.container {
    position: relative;
    width: 250px;
    height: 250px;
    animation: rotate 4s ease-in-out infinite;
    filter: url("gooey");
}
/* Keyframes Animation (Rotate) */
@keyframes rotate {
    /* 0% */
    0% {
        transform: rotate(360deg);
    }
    /* 50% */
    50% {
        transform: rotate(360deg);
    }
    /* 100% */
    100% {
        transform: rotate(0deg);
    }
}
/* SVG Styling */
svg {
    width: 0;
    height: 0;
}
/* Container & Liquid Styling */
.container .liquid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #c7eeff, #03a9f4);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    --ani_dur: 4s;
}
/* Container & Liquid CHild (1) Styling */
.container .liquid:nth-child(1) {
    top: 0;
    animation: animate1 var(--ani_dur) linear infinite;
}
/* Container & Liquid CHild (2) Styling */
.container .liquid:nth-child(2) {
    left: 0;
    animation: animate2 var(--ani_dur) linear infinite;
}
/* Container & Liquid CHild (3) Styling */
.container .liquid:nth-child(3) {
    left: 100%;
    animation: animate3 var(--ani_dur) linear infinite;
}
/* Container & Liquid CHild (4) Styling */
.container .liquid:nth-child(4) {
    top: 100%;
    animation: animate4 var(--ani_dur) linear infinite;
}
/* Keyframes Animation (animate1, animate2, animate3, animate4) */
@keyframes animate1 {
    /* 0% */
    0% {
        top: 0;
    }
    /* 50% */
    50% {
        top: 100%;
    }
    /* 100% */
    100% {
        top: 100%;
    }
}
@keyframes animate2 {
    /* 0% */
    0% {
        left: 0;
    }
    /* 50% */
    50% {
        left: 100%;
    }
    /* 100% */
    100% {
        left: 100%;
    }
}
@keyframes animate3 {
    /* 0% */
    0% {
        left: 100%;
    }
    /* 50% */
    50% {
        left: 0;
    }
    /* 100% */
    100% {
        left: 0;
    }
}
@keyframes animate4 {
    /* 0% */
    0% {
        top: 100%;
    }
    /* 50% */
    50% {
        top: 0;
    }
    /* 100% */
    100% {
        top: 0;
    }
}